body{
font-family: Arial, Helvetica, sans-serif;
background: rgb(230,100,101);
background: linear-gradient(90deg, rgba(230,100,101,1) 35%, rgba(229,145,160,1) 100%);

}

input:hover{
   border: 2px solid rgb(252, 146, 164);

}

h1{
   text-align: center;
   margin-top: 70px;
   color: rgb(255, 255, 255);
}

.main{
 
   background: rgb(255, 255, 255);
   color: #000000;
   padding: 40px;
   width: 35%;

   align-items: center;
   justify-content: center;
   margin: auto;
   border-radius: 20px;
   box-shadow: 30px 20px 100px 20px rgba(255, 242, 0, 0.583);
   

}

.input-text{
   width: 200px;
   height: 30px;
}